@charset "UTF-8";

* {margin: 0; padding: 0;}
li {list-style: none;}
a {color: #333; text-decoration: none;}

body {background: #e4e4e4;}

.wrap {width: 1023px; margin: 0 auto;}

.header {width: 1023px; height: 80px; margin-bottom: 75px; display: flex;}
.header h1 { height: 80px;}
.header h1 a {display: flex; align-items: center; height: 100%; font-size: 30px;}
.header .searchbar { margin: auto 305px auto 54px;}
.header .searchbar input {width: 400px; height: 45px; border-radius: 25px; font-size: 15px; padding: 0 35px; background: url(../images/musicpage_09.jpg); background-repeat: no-repeat; background-position: 10px 15px;}

.header ul.header_btn {width: 120px; height: 80px; display: flex; align-items: center; justify-content: end;}
.header ul.header_btn li {height: 20px; display: flex; justify-content: center;}
.header ul.header_btn li a {display: flex; justify-content: center; padding: 0 9px;}

.sections {display: flex; justify-content: space-between;}

.sidebar {width: 38px; height: 445px;}
.sidebar ul li {margin-bottom: 48px;}
.part1 {width: 460px; height: 660px;}
.part1 ul.visual {display: flex; justify-content: center; margin-bottom: 33px;}
.part1 .play_container {width: 434px; height: 246px;}
.part1 .play_container .title_set {width: 434px; height: 32px; display: flex; justify-content: space-between;}
.part1 .play_container .title_set h2 {font-size: 35px; display: flex; height: 100%; align-items: center;}
.title_set .btn_box {width: 95px; height: 100%; display: flex;}
.title_set .btn_box button.plus_btn {border: none; display: flex; cursor: pointer; transition: transform 0.2s ease;}
button.plus_btn:active {transform: scale(0.95);}
.title_set .btn_box button.plus_btn img {padding-right: 15px;}
.title_set .btn_box input.btn_display {background: none; border: none; font-size: 25px;}

button.jenre {border-radius: 20px; background: #000; color: #fff; font-size: 18px; padding: 0 5%; margin-top: 19px; margin-bottom: 22px;}
.playbar_display {width: 433px; height: 44px; display: flex; justify-content: space-between;}
.playbar_display .waveform { width: 265px; height: 44px;}
.playbar_display .waveform img {width: 100%; height: 100%;}
.start , .end {font-size: 25px; display: flex; align-items: center;}

.playbar_btn {width: 374px; height: 81px; margin: 23px auto 0 auto;}
.playbar_btn ul {display: flex; justify-content: space-between; align-items: center; height: 100%;}

.part2 {width: 472px; height: 652px; border: 1px solid blue;}
.section1_top {display: flex; justify-content: space-between; width: 472px; height: 100px; align-items: end;}
.section1_top h2 {font-size: 40px; display: flex; height: 100%; align-items: center;}
.section1_top a {text-decoration-line: underline; font-size: 23px; height: 35px;}
ul.jenre_list {display: flex; margin: 25px auto 45px auto;}
ul.jenre_list li {border: 2px solid #000; border-radius: 15px;}
ul.jenre_list li a {padding: 0 10px; font-size: 20px;}
ul.image_list {}

