.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #e1e0e0;
    height: auto;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
}
.logo {
    font-size: 2em;
    font-family: "Jersey 20";
}
.search {
    display: flex;
    align-items: center;
    border: 1.5px solid #1e1d1d;
    border-radius: 2em;
    padding: 0.3em 0.6em;
    flex: 0.5;
    margin: 0 2em;
    margin-left: -17vw;
    width: 4em;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 2.5em;
    margin-left: -0.5vw;
}
.search input {
    width: 100%;
    outline: none;
    border: none;
    flex: 0 0 20em;
    margin-left: 0.1vw;
    background: none;
}

.icons {
    display: flex;
    gap: 1em;
}
.icons button {
    cursor: pointer;
    font-size: em;
    fill: currentColor;
    background: none;
    border: none;
}
svg {
    width: 2em;
    height: auto;
}

/* 사이드바 */
.sidebar {
    width: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0; 
    margin-left: -0.4em;
}
.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav li {
  margin: 2.8em 0;
}

.sidebar button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-btn { fill: #9b9a9a;}

.turn-table {
    width: 50%;
    margin-bottom: 1.5em;
    margin-left: 10em;
    margin-top: -35em;
    border-radius: 3vw;
}
.layout {
    display: grid;
    height: auto;
}
.track-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
    margin-top: -3em;
}
.track-title {
    margin-left: -6.5em;
    font-size: 4em;
    font-family: "Jersey 20";
}
.likes {
    
}